.c-Friends {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    .c-Card {
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        height: 600px;

        &__Left {
            min-width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .c-Friends {
                width: 90%;
                margin: auto;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                // Scrollbar styling
                // Reference to https://codepen.io/devstreak/pen/dMYgeO
                // and https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
                ::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                ::-webkit-scrollbar {
                    width: 4px;
                    background-color: transparent;
                }

                ::-webkit-scrollbar-thumb {
                    background-color: #b3b3b3;
                }

                h1 {
                    text-align: center;
                    font-size: $font-medium;
                    margin: 20px 0;
                }

                &__Search {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    background-color: #ECECEC;

                    svg {
                        margin-left: 20px
                    }

                    input {
                        border: none;
                        width: calc(100% - 26px);
                        outline: none;
                        padding: 10px 13px;
                        padding-right: 20px;
                        background-color: #ECECEC;
                        border-radius: 0 5px 5px 0;

                        &::placeholder {
                            color: #9D9D9D;
                            font-weight: bold;
                        }
                    }
                }

                &__List {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;

                    .c-List__Empty {
                        text-align: center;
                        margin-top: 20px;
                    }
                }
            }

            .c-Nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: auto;
                padding: 20px 0;

                &__Profile {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                    h2 {
                        font-size: $font-small;
                        padding-left: 10px;
                    }
                }

                &__Items {
                    padding-left: 30px;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    a {
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }

                        &:active {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }

        &__Right {
            min-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .c-Friend-requests {
                max-height: calc(100% - 142.8px);
                overflow-y: auto;

                // Scrollbar styling
                // Reference to https://codepen.io/devstreak/pen/dMYgeO
                // and https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
                ::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                ::-webkit-scrollbar {
                    width: 4px;
                    background-color: transparent;
                }

                ::-webkit-scrollbar-thumb {
                    background-color: #b3b3b3;
                }
                &__Sticky-heading {
                    position: sticky;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    background-color: white;
                    h2 {
                        text-align: center;
                        font-size: $font-medium;
                        padding: 20px 0;
                        z-index: 999;
                    }
                }

                &__List {
                    width: 90%;
                    max-height: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: auto;

                    .c-List__Empty {
                        text-align: center;
                        margin-top: 20px;
                    }
                }
            }

            .c-Expand-network {
                display: flex;
                flex-direction: column;
                margin: 20px 0;

                h2 {
                    text-align: center;
                    font-size: $font-medium;
                    margin-bottom: 20px;
                }

                a {
                    margin: auto;
                    text-align: center;
                }
            }
        }

    }
}