.c-Btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 23px;
    height: fit-content;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;

    &--primary-ocean {
        color: white;
        background-color: $primary-ocean;
    }

    &--empty-danger {
        color: red;
        background-color: transparent;
    }

    &--empty-primary-ocean {
        color: $primary-ocean;
        background-color: transparent;
    }

    &--empty-black {
        color: black;
        background-color: transparent;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.7;
    }
    
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

}