// Themes styles
@import "themes/theme";

// Base styles
@import "base/typography";
@import "base/reset";

// Components styles
@import "components/button";
@import "components/chat-message";
@import "components/chat-room";
@import "components/chat-welcome";
@import "components/divider";
@import "components/friend-list-box";
@import "components/profile-icon";

// Layout styles
@import "layout/header";
@import "layout/main-layout";

// Pages styles
@import "pages/add-friends";
@import "pages/chats";
@import "pages/create-account";
@import "pages/friends";
@import "pages/login";
@import "pages/settings";